* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cards {
  padding: 88px 0;
}
.card {
  padding: 46px 54px 46px 46px;
  width: 328px;
  height: 442px;
}
/* card-sedarn */
.card.card-sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* card-suvs */
.card.card-suvs {
  background-color: hsl(184, 100%, 22%);
}

/* card-luxury */
.card.card-luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.icon {
  width: 63px;
  height: 39px;
}
.card-heading {
  font-size: 35px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  margin: 36px 0 0;
}
.card-content {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin: 34px 0 0;
  line-height: 1.6;
}
/* button-sedans */
.bt {
  cursor: pointer;
  width: 148px;
  height: 50px;
  margin-top: 24px;
  font-size: 15px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.bt.bt-sedans {
  color: hsl(31, 77%, 52%);
  border: 1px solid hsl(31, 77%, 52%);
}
.bt.bt-sedans:hover {
  border-color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

/* button-suvs */
.bt.bt-suvs {
  color: hsl(184, 100%, 22%);
  border: 1px solid hsl(184, 100%, 22%);
}
.bt.bt-suvs:hover {
  border-color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
/* button-luxury */
.bt.bt-luxury {
  color: hsl(179, 100%, 13%);
  border: 1px solid hsl(179, 100%, 13%);
}
.bt.bt-luxury:hover {
  border-color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
/* desktop 1440px */
@media (min-width: 1200px) {
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: 170px 0 130px;
  }
  .card {
    padding: 48px 50px 48px 45px;
    width: 306px;
    height: 500px;
  }
  .card.card-sedans {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .card.card-luxury {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .icon {
    width: 65px;
    height: 40px;
  }
  .card-heading {
    margin: 36px 0 0;
  }
  .card-content {
    margin: 34px 0 0;
  }
  .bt {
    margin-top: 79px;
    width: 150px;
    height: 50px;
  }
}
